*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
.bold{
    font-weight: bold;
    font-size: 2em;
    margin-bottom:-30px;
    color: salmon;
}
.bajada{
    font-size: 1em;
}
h1{
    font-size: 6em;
    font-weight: bold;
    color: #2F2E41;

}
h2{
    font-size: 3em;
}
main{
    padding-top:5rem;
}
header{/*cabecera fija*/
    height: 60px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
}
nav{
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    background-color: white;

}
nav ul{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
nav ul li{
    margin-left:1%;
    list-style: none;
    padding:20px;
}
nav ul li a{
    text-decoration: none;
    color:rgb(100, 100, 100);
    transition: all 0.4 linear;
}
nav ul li a:hover{
    background-color: #4a4a4a;
}
/*section presentacion*/
.presentacion{
    height:500px;
    display: flex;
}
.presentacion div.titulo{
    width:80%;
    justify-content: left;
    text-align: left;

}
.titulocontenedor{
    width:80%;
    margin:120px auto 10px auto;
    padding-left:130px;
}
.presentacion div.imagen{
    justify-content: right;
    flex-wrap: wrap;
}
.titulocontenedor button{
    background-color: salmon;
    border-radius: 100px;
    padding:10px 10px 10px 10px;
    width:200px;
    margin-top:30px;
    border:none;
    color: #2F2E41;
    text-transform: uppercase;
    font-weight: bold;
    
}
/*section conocimientos*/
.conocimientos{
    background-color:salmon;
    height:980px;
    text-align: center;
    padding-top:110px;
    color: #2F2E41;
}
.conocimientos p{
    padding:70px;
    text-align: center;
    width:60%;
    margin:0 auto;
}
.conocimientosContainer{
    width:660px;
    display: flex;
    flex-wrap: wrap;
    margin:0 auto; 
}
.conocimientosContainer > div{
    border:1px solid white;
    width:200px;
    height:200px;
    margin:10px;
    text-align: center;
}

/* cita section */

.cita{
    color: #2F2E41;
    height:400px;
    padding:70px;
    display: flex;
    flex-direction: column;

}
.cita .frase{
    font-size: 2em;
    text-align: center;

}
.cita p{
    text-align: center;
    margin-top:30px;
}

/* proyectos section */
.proyectos{
    height:850px;
}
.proyectosContainer{
    width:660px;
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
    text-align: center;
}
.proyectosContainer > div{
    width:200px;
    height:200px;
    margin:10px;
    background-color:salmon;
}
.proyectos h2{
    text-align: center;
    padding:50px;
}
/*section contacto */

.contacto{
    background-color:#ccc;
    margin-top:100px;
    height:600px;
    padding-top:50px;

}
.contactoContainer{
    background-color:white;
    width:90%;
    margin:0 auto;
    height:500px;
    display: flex;

}
#redes{
    background-color: indigo;
    display: flex;   
    flex-direction: column;
    width:80%;
    padding-top:40px;
}

#redes h2, #redes p, #redes a{
    text-align: left;
    width:50%;
    margin:0 auto;

}
#redes p{
    margin-bottom: 20px;
}
#redes a{
    margin-top:10px;
}





/*animación section inicio*/
#start1{
    transform: translate(16%, 26%);
    animation: moveStar 1s 0.5s both;

}
#start2{
    transform: translate(2%, 26%);
    animation: moveStar 1s 0.5s both;

}
#start2{
    transform: translate(57%, 26%);
    animation: moveStar 1s 0.5s both;

}

@keyframes moveStar{
    100%{
        transform:unset;
    }
}

@media only screen and (max-width: 767px){
    
    ul li{
        display: block;
    }
    main{
        padding-top:15rem;
    }
}