*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    
}
main,.conocimientos,.cita{
    box-shadow: inset -30px -4px 37px -16px rgba(0,0,0,0.44);
    z-index: 2;
    width:auto;
}
.bold{
    font-weight: bold;
    font-size: 2em;
    margin-bottom:-30px;
    color: #F398C6;
}
.bajada{
    font-size: 1em;
}
.destacado{
    padding: 15px 20px 15px 20px;
    background-color: #F398C6;
    border-radius: 100px;
    color:white;

}
h1{
    font-size: 6em;
    font-weight: bold;
    color: #2F2E41;

}
h2{
    padding-top:110px;

    font-size: 3em;
    color: #2F2E41;
    text-align: center;
}
main{
    padding-top:5rem;
}
header{/*cabecera fija*/
    height: 60px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
}
nav{
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    background-color: white;

}
nav ul{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right:10%;
}
nav ul li{
    margin-left:1%;
    list-style: none;
    padding:20px;
}
nav ul li a{
    text-decoration: none;
    color:rgb(100, 100, 100);
    transition: all 0.4 linear;
}
nav ul li a:hover{
    background-color: #4a4a4a;
}
/*section presentacion*/
.presentacion{
    display: flex;
}
.presentacion div.titulo{
    width:80%;
    justify-content: left;
    text-align: left;

}
.titulocontenedor{
    width:80%;
    margin:120px auto 10px auto;
    padding-left:130px;
}
.titulocontenedor button{
    background-color: #F398C6;
    border-radius: 100px;
    padding:10px 10px 10px 10px;
    width:200px;
    margin-top:30px;
    border:none;
    color: #2F2E41;
    text-transform: uppercase;
    font-weight: bold;
    
}
.img-portada{
    margin-right:100px;
}
/*section conocimientos*/
.conocimientos{
    background-color:rgb(235, 235, 235);
    color: #2F2E41;
    text-align: center;


}
.conocimientos p{
    text-align: center;
    width:60%;
    margin:0 auto;
    padding-top:70px;
}
.conocimientosContainer{
    display: flex;
    flex-wrap: wrap;
    margin:0 auto; 
}
.wrapper {
    display: flex;
    margin:  100px 300px;
    flex-wrap: wrap; 
    justify-content: space-around;
 
 }
 
 
 .item {
     align-self: center;
     margin: 16px 2px;
     
 }
 
 .item:hover {
    box-shadow: rgb(209, 209, 209) 3px 3px 16px 3px;
    border-radius: 10px;

 }
   
   
 
 .wrapper img {
    width: 210px;
    height: 210px;
    padding:30%;
 }

 .nameimg {
    padding: 8px 8px 10px 8px;
    border: 1px solid rgb(248, 247, 246);
    background: rgb(247, 246, 244);
    border-radius: 10px;

 }
 figcaption {
    height: 20px; 
 }
/* cita section */

.cita{
    color: white;

    padding:70px;
    display: flex;
    flex-direction: column;
    background-color: #F398C6;
}
.cita .frase{
    font-size: 2em;
    text-align: center;

}
.cita p{
    text-align: center;
    margin-top:30px;
}

/* proyectos section */
.proyectos{
    background-color: white;
}
.proyectosContainer{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding:10%;
    align-items: center;
    justify-content: center;
}
.proyectosContainer > div{
    width:250px;
    height:250px;
    margin:5%;
}
.proyectosContainer > div:hover{
     box-shadow: rgb(209, 209, 209) 3px 3px 16px 3px;
    border-radius: 10px;
}
.img1{
    background-image:url('../img/porta.JPG') ;
}
/*section contacto */

.contacto{
    padding-top:250px;
    padding-bottom: 100px;
  
}
.contactoContainer{
    

    width:90%;
    margin:0 auto;
    display: flex;
    
}
#redes, #formulario{
    display: flex;   
    flex-direction: column;
    width:80%;
    padding:60px; 
    margin:0 auto;   

}
#camposflex p{

    margin-right:5%;
    width:100%;
}
#redes h2, #redes p{
    text-align: left;
    width:65%;
    margin:0 auto;

}

#redes p{
    margin-bottom: 20px;
}

.icons{
   width:70%;
   margin:0 auto;
   margin-top:20px;
}
.icons img{
    margin-right:10px;
}
.icons a{
    top:10px;
    color:black;
    font-weight: normal;
    font-size: 0.7em;

}

/* section formulario */
/* formulario*/


form{
    width:100%;

}
#formulario h2{
    text-align: left;
    
}
.campos {
    width: 100%;
    padding: 10px 7px 5px 7px;
    background-color:rgb(241, 244, 247);
    border:none;
    border-radius: 15px;
    margin-bottom:10px;
    
}
textarea:focus, input:focus{
    border-color: #F398C6;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px #F398C6;
    outline: 0 none;
}
#camposflex{
    display: flex;
}
#camposflex input{
    
}
.boton{ 
    background-color: #F398C6;
    border:0px; 
    padding:17px 30px 17px 30px;
    border-radius: 150px; 
    width:150px;
    font-size: 1em;
    color:white;
} 
.boton:hover{
    background-color:#CF649A;
    cursor:pointer;
}
.email, textarea{
    width:100%;
}

/*footer*/
footer{
    color:white;
    background-color:rgb(43, 43, 43) ; /*variable*/
    text-align: center;
    padding:50px;
}
.footer{
    display:flex;
    justify-content: center;
    flex-direction: column;
    
}
.footer ul{
    display: flex;
    justify-content:center;
}
.footer ul li{
    list-style: none;
    margin-top:70px;

}
footer a{
    color:#E3E3E3;/* variable */
}














@media only screen and (max-width: 1100px){
    
    /*section presentacion*/
    nav{
        visibility: hidden;
    }
    .presentacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:0;
        margin:0 auto;
        text-align: center;
        
    }
    .titulocontenedor h1, .presentacion h2, .bold, .titulo, p.bajada{
        text-align: center;
        padding:0;
        margin:0 auto;
    }
    .titulocontenedorulo{
        padding:0;
        margin:0;
    }
    .presentacion div.titulo{
        justify-content: center;
        text-align: center;
    }
    
    .titulocontenedor{
        margin:0 auto;
        padding:0;
    }

    .img-portada{
        margin:0 auto;
        width:450px;
        height:350px;
        margin-top:50px;
        
    }


    /*section conocimientos*/

    .wrapper{
        margin:100px;
  }

    /* section contacto */
   
    #redes, #formulario{
        margin:0 auto;
        padding:0;    
        text-align: left;
    
    }
    
    .contactoContainer{
        display: block;
    }

    #formulario h2{
        text-align:center;
    
}



















@media only screen and (max-width: 600px){

    .titulocontenedor h1, .conocimientos h2{
        font-size: 2.7em;
    }
    .wrapper{
        padding:0;
        margin:0 auto;
    }
    p.frase{
        font-size: 1em;
    }
    .img-portada{
        margin:0 auto;
        width:250px;
        height:200px;
        margin-top:50px;
        
    }
    footer ul.hidden{
        visibility: hidden;
        margin-top:-200px;
    }
    footer ul{
        margin:0;
    }
    #redes h2{
        font-size: 2em;
        width:100%;
        text-align: center;
    }
   
}
@media only screen and (max-width: 320px){
   
    h2{
        font-size: 1.5em;

    }
    #redes, #formulario{
        margin:0 auto;
    }
    #redes h2{
        font-size: 1.5em;
        width:100%;
        text-align: center;
    }
    .contactoContainer p{
        font-size: 1em;

    }
    .contactoContainer {
        margin:0 auto;
        padding:0;
    }
    footer ul.hidden{
        visibility: hidden;
    }
    input.campos.block{
        color:green;
    }
}


